{% load static %}
<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-witdh, initial-scale=1, shrink-to-fit=no">
        <title> 일 벌리고 실천하기 </title>
        <link rel="stylesheet" type="text/css" href="{% static 'whatshouldido/style.css' %}">
    </head>
    <body>
        <aside>
          <div class="login">
            <a href="/" class="logo"><img src="{% static 'images/logo.png' %}"></a>
              {% include "auth.html" %}
          </div>
          <div class="todolist">
            <a href="/" style="display: block;"><span class="name">홈으로</span></a>
            <a href="/search" style="display: block;"><span class="name">그룹찾기</span></a>
            <a href="/">test</a>
            <a href="/">test</a>
            <a href="/">test</a>
            <a href="/">test</a>
          </div>
          <div class="footer">
              <a href="/">이용약관</a> - <a href="/">개인정보처리방침</a>
          </div>
        </aside>
          <section class="init">
            {% if user.is_authenticated %}
              <div class="notice">
                <div class="title">공지사항</div>
                <ul>
                  {% for article in data.article %}
                    <li><a href="/group/{{ article.groupid }}/article/{{ article.id }}">{{article.grouparticletitle}}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="notice">
                <div class="title">과제</div>
                <ul>
                  {% for assign in data.assign %}
                    <li><a href="/group/{{ assign.groupid }}/assign/{{ assign.id }}">{{assign.groupassignment}}</a></li>
                  {% endfor %}
                </ul>
              </div>
                {% for i in data.groups %}
                    <li>{{ i.groupname }}</li>
                  {% endfor %}
            {% endif %}
          </section>
          <section class="white">
          {% if user.is_authenticated %}
            {% block content %}
            {% endblock %}
          {% endif %}
          </section>
    </body>
</html>