{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- fullcalender -->
<link href="{% static 'calendar/main.css' %}" rel="stylesheet">
<script src="{% static 'calendar/main.js' %}"></script>
<script>
    let assignments = [];
    let limitdate = []
    assignments = "{% for assignment in data.assign %}{{ assignment.groupassignment }},{% endfor %}".split(',');
    limitdate = "{% for limitdate in data.assign %}{{ limitdate.groupassignmentlimit | date:'Y-m-d'}},{% endfor %}".split(',');
    groupid = "{% for assignment in data.assign %}{{ assignment.groupid }},{% endfor %}".split(',');
    assignid = "{% for assignment in data.assign %}{{ assignment.id }},{% endfor %}".split(',');
    var size = assignments.length;
    for(var i = 0, result = [] ; i < size ; i++){
        result.push({"title" : `${assignments[i]}`, "start" : `${limitdate[i]}`, "url" : `/group/${groupid[i]}/assign/${assignid[i]}`});
    }
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            eventLimit: true,
            events: result,
            eventClick:function(event) {
                if(event.url) {
                    window.open(event.url);
                    return false;
                }
            },
        });
        calendar.render();
    });
    
</script>
<div id='calendar'></div>
{% endblock %}