{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static '/whatshouldido/calendar.css' %}">
        <div class="calendar_header">
            <div class="calendar_nav">
                <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
                <span class="year"></span>년
                <span class="month"></span>월
                <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
            </div>
        </div>
        <div class="calendar_main">
            <div class="days">
                <div class="day">일</div>
                <div class="day">월</div>
                <div class="day">화</div>
                <div class="day">수</div>
                <div class="day">목</div>
                <div class="day">금</div>
                <div class="day">토</div>
            </div>
            <div class="dates"></div>
        </div>
        <script>
            let data = '{{ data.assign }}';
            let assignments = "{% for assignments in data.assign %} [과제] {{ assignments.groupassignment }} <br> {% endfor %}" ;
            let calendar = "{% for calendar in data.calendars %} [스터디] {{ calendar.groupplanname }} <br> {% endfor %}" ;
        </script>
        <script src="{% static 'js/calender.js' %}"></script>
{% endblock %}