{% load static %}
<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-witdh, initial-scale=1, shrink-to-fit=no">
        <title> 일 벌리고 실천하기 </title>
        <link rel="stylesheet" type="text/css" href="{% static 'whatshouldido/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
            <br>
            ERROR.html
        </div>
    </body>
</html>