{% extends 'base.html' %}

{% block content %}
            <section class="service white">
                <div class="wrap">
                    <h1>Article Write</h1>
                        <form method="POST" class="post-form">{% csrf_token %}
                                <p><label for="id_grouparticletitle">게시글 제목:</label>
                                    <input type="text" name="grouparticletitle" maxlength="64" required="" id="id_grouparticletitle"
                                    value="{{ article.grouparticletitle }}"></p>
                                <p><label for="id_grouparticlecontent">게시글 내용:</label>
                                    <input type="text" name="grouparticlecontent" maxlength="150" required="" id="id_grouparticlecontent"
                                    value="{{ article.grouparticlecontent }}"></p>
                                <p><label for="id_grouparticlecategory">Grouparticlecategory:</label>
                                    <select name="grouparticlecategory" required="" id="id_grouparticlecategory" multiple="">
                                            {% if user.id == group.groupmaster.id %}
                                                 <option value="1"
                                                 {% if article.grouparticlecategory == 1 %}
                                                         selected{% endif %}>공지사항</option>
                                            {% endif %}
                                          <option value="2"
                                            {% if article.grouparticlecategory == 2 %}
                                                  selected{% endif %}>카테고리 1</option>
                                          <option value="3"
                                            {% if article.grouparticlecategory == 3%}
                                                  selected{% endif %}>카테고리 2</option>
                                </select></p>
                            <button type="submit" class="save btn btn-default">[Save]</button>
                        </form>
                </div>
            </section>
{% endblock %}
