{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'whatshouldido/join.css' %}">
    <div class="logo">
        <a href="/" class="logo"><img src="{% static 'images/logo.png' %}"></a>
    </div>
    <div class="auth-body">
        <div class="auth-main">
            {% if user.is_authenticated %}
                {% if studygroup %}
                    {% for group in studygroup %}
                    <label>
                        그룹장 : {{ group.groupmaster.last_name }}{{ group.groupmaster.first_name }}<br>
                    </label>
                    <label>
                        그룹명 : {{ group.groupname }}<br>
                    </label>
                    <form action="{% url 'whatshouldido:check' pk=group.groupid %}" method="POST"> 
                        {% csrf_token %}
                        <input id="passcode" type="text" name="passcode" placeholder="입장 코드를 입력하세요." class="button">
                        <input type="submit" value="입력" class="button submit">
                    </form>
                    {% endfor %}
                {% endif %}
                {% if groupss %}
                        {% for group in groupss %}
                            {{ group.groupname }}에 가입했습니다.
                            <br>
                        {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
