.calendar {
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
}

.calendar_header {
  display: inline-block;
}

.calendar_nav {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 25px;
  line-height: 34px;
  margin: 0 20px;
  background-color: transparent;
  cursor: pointer;
}

.go-today {
  width: 80%;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}

.calendar_main{
  border-collapse: collapse;
  width: 100%;
}

.days {
  display: flex;
  margin: 25px 0 10px;
}

.day {
  width: calc(100% / 7);
  text-align: center;
  transition: all .3s;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #333333;
}

.date {
  cursor: pointer;
  width: calc(100% / 7);
  height: 200px;
  text-align: left;
  border: 1px solid #333333;
  transition: all .3s;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other {
  color: rgba(88, 88, 88, 0.315) !important;
}

.today {
  position: relative;
  background-color: #ff1c1c96;
}

.selected{
  background-color: black;
  color: #ffffff !important;
}