div.group-search{
    height: 30px;
    width:100%;
    border: 1px solid #7a6563;
    background: white;
}

input.group-search-input{
    font-size:12px;
    width:70%;
    padding: 7px;
    border:0px;
    outline:none;
    float:left;
}

input.group-search-btn{
    width:20%;
    height: 100%;
    border: 0px;
    background: #7a6563;
    outline: none;
    float: right;
    color: white;
}